*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilory';
}
html,body{
    height: 100%;
    width: 100%;
}
.main
{
    height: 100%;
    width: 100%;
    display: flex;
   
}
 .left
{
    height: 100%;
    width: 40%;
    background-color: cornflowerblue;
    position: relative;
}
 .lnav
{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.lnavr{
    display: flex;
}
.lnavr a{ 
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
}
.lnavr i{
    color: royalblue;
}
/*Left  Side Center Content */
.left .textcenter
{
    padding-left: 10px;
    position: absolute;
    top:50%;
    left:50%;
  transform:translate(-50%,-50%);
   
}
.textcenter h1{
    font-size: 90px;
    font-weight: 900;
}
.textcenter p{
    opacity: .6;
    font-size: 15px;
   line-height:25px ;
   margin-top: 20px;
   margin-bottom: 20px;
}
.textcenter a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    opacity: .8;
}
/* End Left  Side Center Content */
   /* RIGHT PART  */
.right
{
    height: 100%;
    width: 60%;
    
}
.righttop
{
    width: 100%;
    height: 50%;
    background-color: aqua;
    display: flex;
}
.righttop .leftr{
    width: 50%;
    height: 100%;
  background-image: url("https://plus.unsplash.com/premium_photo-1670692695578-319f28b97ac1?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  
  background-size:cover;
  background-position:bottom;
  position: relative;
}
.leftr h1{
    color: white;
    font-weight: 900;
    font-size: 70px;
    padding: 50px;
    margin: 50px;
    position: absolute;
    background-image: linear-gradient(43deg, #4158D0 0%, #c850c0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
color: transparent;
}
.righttop .rightr{
    width: 50%;
    height: 100%;
  
    background-image: url("https://images.unsplash.com/photo-1559181567-c3190ca9959b?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    background-position: bottom;
}
.rightbottom
{
    width: 100%;
    height: 50%;
   background-image: url("https://images.unsplash.com/photo-1598048150218-53ab5609ef31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
   background-position: top;
   
}

/* Responsiveness*/
@media (max-width: 600px){
.main{
   flex-direction: column;
}
.main .left{
    width: 100%;
}
.main .right{
    width: 100%;
}
}